// Layouts
@import './layouts/base';


body {
  width: 90%;
  margin: auto;
  text-align: center;
}

.ModulePosts {
  text-align: center;

  li {
    list-style-type: none;
    display: inline-block;
    padding: 25px;
    text-align: left;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    width: 260px;
    height: 250px;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

.title {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.text {
  font-size: 15px;
  color: #666666;
  margin-bottom: 15px;
}

.text {
  &-blue {
    a {
      &:visited {
        color: blue;
      }

      color: blue;
    }
  }

  &-orange {
    a {
      &:visited {
        color: orange;
      }

      color: orange;
    }
  }

  &-maroon {
    a {
      &:visited {
        color: maroon;
      }

      color: maroon;
    }
  }
}
